* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    background-color: #000;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    transition: background-color 0.3s;
}

.choice:hover {
    cursor: pointer;
    background-color: #333;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score {
    font-size: 4rem;
    margin-top: 20px;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    display: inline-block;
}

.scoreboard {
    margin-top: 2rem;
}
